:root{
       --cor-base: rgb(0, 0, 0);
       --cor-principal: hsl(198, 47%, 70%);
       --cor-secundária: hsl(56, 83%, 45%);
}

body{
       background-color:var(--cor-principal);
       /*color: ;*/
}

.flex{
       display: flex;
       justify-content: space-around;
}

.quadrado{
       
       /*margin: auto;*/
       width: 180px;
       height: 180px;
       
       border: solid;
       padding: 1px;
       margin-top: 1px;
}

